body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
}

header {
    margin-top: 3em;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2em;
    font-weight: 900;
}

#container3D canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#gameCanvas {
    position: relative;
  }
#insideText {
    position: absolute;
    left: 20px;
    top: 20px;
}